:root {
    --blueish-gray: #8896AB;
}

body {
    background-color: var(--blueish-gray);
}

h1 {
    color: black;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid var(--blueish-gray);
}

.navbar .links {
    margin-left: auto;
}

.navbar h1 {
    color: black;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}